.navbarOwl{
    background-color: #592316
}

.head{
    background-color: #BF6E26
}

.boxTitle{
    background-color: #bf6e26 !important;
    height: 50px;
    color: white;
    padding-top: 8px;
    text-align: left
}

.boxContent{
    background-color:#D9B97E;
    height: auto !important;
}

.margin5{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.bookCoverBig{
    height: 330px;
    width: 250px;  

}

.bookInforHeaders{

    color: #592316;
}

.alignLeft{
    text-align: left
}
.alignRight{
    text-align: right
}

.buttonColor{
    background-color: #592316;
    color: white
}

.buttonColor:hover{
    opacity: 0.9;
}